#scrambleWrapper
{
 display:none;
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 background-color: rgba(0, 0, 0, 0.5);
 font-family: Arial;
 font-size: 12px;
}

#scrambleEdge
{
 background-color: #202020;
 position:relative;
 left:50%;
 width:260px;
 height:298px;
 margin: 20px 0 0 -200px;
}

#scrambleClose
{
 width:236px;
 height:20px;
 text-align:right;
 margin:0 20px;
}

#scrambleClose a
{
 color: #c0c0c0;
 text-decoration: none;
 padding:4px 0 0 0;
 display: inline-block;
}

#scrambleClose a:hover
{
 text-decoration: underline;
}

#scrambleHolder
{
 width:224px;
 height:256px;
 margin: 5px 0 0 18px;
}

#scrambleIcon
{
 position: absolute;
 right: 8px;
 bottom: 8px;
}

#scrambleIcon img
{
 border: none;
}

canvas {
    image-rendering: optimizeSpeed;             /* Older versions of FF */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+ */
    image-rendering: -webkit-optimize-contrast; /* Webkit */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: optimize-contrast;         /* Possible future browsers.*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE */
}